.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #0000ff;
  color: white;
}

.Phonetic .text {
  font-weight: bold;
  opacity: 0.5;
}
